<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디어 사이트</title>
</head>
<body>
    <nav>
        <a href="/idea_manage/">아이디어 등록</a> 
        <a href="/idea_list/">아이디어 관리</a>
        <a href="/dev_list/">개발툴 등록</a>
        <a href="/dev_manage/">개발툴 관리</a>
    </nav>

    <h1>클릭해야 이동 가능</h1>
    <h3>메인 페이지에 리스트가 뜨도록 수정해야함</h3>
</body>
</html>