* {
    box-sizing: border-box;
}

#header-search fieldset {
    margin-left: 20px;
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
    <!--box-sizing: content-box-->
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
}