<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idia_list</title>
</head>
<body>
    <h1>IDEA LIST</h1>

    {% for p in post_list %}
        <hr/>
        <h3><a href="{{ p.get_absolote_url }} ">{{ p.title }}</a></h3> <!--앱솔루트 유알엘 하면 클릭해서 페이지 이동 가능(나는 사진에다 해야함)-->
        <h4>{{ p.created_at }}</h4>
        <p>{{ p.content }}</p>
    {% endfor %}
</body>
</html>